/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: Neblina Villegas Jan Marlon */
/* Fecha de elaboración: 03/02/2023 */

.mx{
    position: absolute; top: 200px; left: 650px;
    z-index: 1;
    -webkit-text-stroke: 3px green;
    margin: 0;
    color: chartreuse;
    font-size: 140px;
    font-family: 'Courier New';
}

.us {
    position: absolute; top:50px; left: 100px;
    z-index: 2;
    -webkit-text-stroke: 4px purple;
    margin: 0;
    color: blue;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium';
}
.jp {
    position: absolute; top: 500px; left: 350px;
    z-index: 3;
    -webkit-text-stroke: 1px red;
    margin: 0;
    color: pink;
    font-size: 140px;
    font-family: 'Gill Sans';
}
.it {
    position: absolute; top: 450px; left: 1 00px;
    z-index: 4;
    -webkit-text-stroke: 1px green;
    margin: 0;
    color: red;
    font-size: 150px;
    font-family: 'itim'
}
.hw {
    position: absolute; top: 50px; left: 950px;
    z-index: 5;
    -webkit-text-stroke: 1px pink;
    margin: 0;
    color: cyan;
    font-size: 200px;
    font-family: 'pacifico';
}
.ru {
    position: absolute; top: 350px; left: 500px;
    z-index: 6;
    -webkit-text-stroke: 1px blue;
    margin: 0;
    color: red;
    font-size: 100px;
    font-family: 'roboto mono';
}
.ko {
    position: absolute; top: 100px; left: 200px;
    z-index: 7;
    -webkit-text-stroke: 1px black;
    margin: 0;
    color: purple;
    font-size: 120px;
    font-family: 'caveat'
}
.po {
    position: absolute; top: 400px; left: 100px;
    z-index: 8;
    -webkit-text-stroke: 1px cyan;
    margin: 0;
    color: teal;
    font-size: 50px;
    font-family: 'play';
}
.hi {
    position: absolute; top: 150px; left: 50px;
    z-index: 9;
    -webkit-text-stroke: 1px red;
    margin: 0;
    color: yellow;
    font-size: 150px;
    font-family: 'Aref Ruqaa Ink';
}
.he {
    position: absolute; left: 500px;
    z-index: 10;
    -webkit-text-stroke: 1px green;
    margin: 0;
    color: olivedrab;
    font-size: 130px;
    font-family: 'silkscreen';
}
.sw {
    position: absolute; top: 450px; left: 1050px;
    z-index: 11;
    -webkit-text-stroke: 1px tomato;
    margin: 0;
    color: brown;
    font-size: 110px;
    font-family: 'Vujahday Script';
}
